<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bookr{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container-fluid">
        {% for message in messages %}
            <div class="alert alert-{% if message.level_tag == 'error' %}danger{% else %}{{ message.level_tag }}{% endif %}" role="alert">
                {{ message }}
                {% if messages %}

            <div class="alert alert-{{ message.tags }}">
                {{ message }
    </div>
{% endif %}

            </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
